/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}


/* ===== HEADER ===== */
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #0f172a;
    /* azul escuro moderno */
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.menu a:hover {
    color: #38bdf8;
    /* azul claro */
}

/* ===== HERO SECTION ===== */
.hero {
    min-height: 90vh;
    width: 100%;
    background-image: url("../img/casa1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
}


.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-conteudo {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}



.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
    word-wrap: break-word;
}


.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.botao {
    background-color: #38bdf8;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.botao:hover {
    background-color: #0ea5e9;
}

/* ===== SEÇÃO IMÓVEIS ===== */
.imoveis {
    padding: 80px 60px;
    background-color: #f1f5f9;
    text-align: center;
}

.imoveis h2 {
    font-size: 32px;
    margin-bottom: 50px;
}

.grid-imoveis {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-info {
    padding: 20px;
    text-align: left;
}

.card-info h3 {
    margin-top: 0;
}

.preco {
    display: block;
    font-weight: bold;
    margin: 15px 0;
    font-size: 18px;
}

.botao-card {
    display: inline-block;
    background-color: #0f172a;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.botao-card:hover {
    background-color: #1e293b;
}

/* ===== FOOTER ===== */
.footer {
    background-color: #0a1a33;
    color: white;
    width: 100%;
    margin-top: 80px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col {
    width: 300px;
}

.footer-col h3,
.footer-col h4 {
    margin-bottom: 15px;
}

.footer-col p {
    margin-bottom: 8px;
    color: #ccc;
}

.footer-copy {
    background-color: #061022;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

.footer a {
    color: white; /* mesma cor do texto */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {

    .topo {
        flex-direction: column;
        padding: 20px;
    }

    .menu ul {
        flex-direction: column;
        gap: 15px;
    }

    .hero {
        min-height: 75vh;
    }

    .hero h1 {
        font-size: 26px;
    }

    .hero p {
        font-size: 16px;
    }

    .imoveis {
        padding: 50px 20px;
    }

    .footer-container {
        padding: 30px 20px;
    }

}


.detalhe-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.detalhe-container img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* CONTAINER GERAL */
.detalhe-container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
}

/* LAYOUT EM DUAS COLUNAS */
.detalhe-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

/* TEXTO (LADO ESQUERDO) */
.detalhe-texto {
    flex: 1;
}

.detalhe-texto h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.detalhe-texto p {
    font-size: 20px;
    margin-bottom: 15px;
}

.descricao {
    margin-top: 20px;
    font-size: 22px;
}

/* IMAGEM (LADO DIREITO) */
.detalhe-imagem {
    flex: 1;
}

.detalhe-imagem img {
    width: 100%;
    border-radius: 15px;
}

.detalhe-texto button {
    margin-top: 25px;
    padding: 12px 25px;
    font-size: 16px;
    background-color: #0d1b2a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.detalhe-texto button:hover {
    background-color: #1b263b;
}

/* CARROSSEL */
.carrossel {
    position: relative;
    width: 100%;
    height: 450px;
    /* ALTURA FIXA */
    overflow: hidden;
}

/* IMAGEM */
.carrossel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #ffffff;  /* opcional - fundo elegante */
    border-radius: 15px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* EFEITO FADE */
.carrossel img.fade {
    opacity: 0;
}

/* BOTÕES */
.carrossel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carrossel button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.detalhe-container {
    flex: 1;
}

/* ===== LISTA DE IMÓVEIS ===== */

.lista-imoveis {
    padding: 60px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

/* ===== CARD ===== */

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-info {
    padding: 15px;
}

.card-info h3 {
    margin: 0 0 10px;
}

.card-info p {
    margin: 5px 0;
}

/* ===== TÍTULO DA PÁGINA ===== */

.titulo-pagina {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #0d1b2a;
}

.titulo-pagina::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: #0d1b2a;
    margin: 10px auto 0;
    border-radius: 2px;
}

/* ===== PÁGINA CONTATO ===== */

.pagina-contato {
    padding: 80px 20px;
}

.titulo-contato {
    text-align: center;
    font-size: 48px; /* maior que o de imóveis */
    margin-bottom: 60px;
    color: #0d1b2a;
}

.titulo-contato::after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #0d1b2a;
    margin: 15px auto 0;
    border-radius: 3px;
}

/* LINHAS */

.info-contato {
    max-width: 700px;
    margin: 0 auto;
}

.linha-contato {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo-contato {
    width: 50px;
    height: 50px;
    background-color: #0d1b2a; /* espaço para logo */
    margin-right: 20px;
    border-radius: 8px;
}

.linha-contato p {
    font-size: 24px;
    font-weight: bold;
}

/* ===== CONTATO ===== */

.titulo-contato {
    text-align: center;
    font-size: 48px; /* maior que o de imóveis */
    margin: 60px 0 40px;
}

/* ===== FORMULÁRIO DE CONTATO ===== */

.contato-formulario {
    width: 95%;           /* ocupa quase toda a tela */
    max-width: 1000px;    /* limite maior */
    margin: 80px auto;
    padding: 50px;        /* um pouco mais de espaço interno */
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}


.contato-formulario h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px; /* Título maior */
}

#form-contato {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaço automático entre campos */
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
}

.campo input,
.campo textarea {
    padding: 14px; /* Campos maiores */
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.campo input:focus,
.campo textarea:focus {
    border-color: #0f172a;
    outline: none;
}

.btn-enviar {
    background-color: #0f172a;
    color: white;
    padding: 16px; /* Botão maior */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease;
}

.btn-enviar:hover {
    background-color: #1e293b;
}


/* ===== PÁGINA OBRIGADO ===== */

.pagina-obrigado {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* TOPO */
.topo-simples {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
}

.topo-simples h1 {
    margin: 0;
}

/* CONTEÚDO */
.conteudo-obrigado {
    flex: 1;
    text-align: center;
    margin-top: 80px;
}

.conteudo-obrigado h2 {
    color: #0f172a;
    margin-bottom: 15px;
}

.btn-voltar {
    display: inline-block;
    margin-top: 20px;
    background-color: #0f172a;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn-voltar:hover {
    background-color: #0f172a;
}

/* RODAPÉ */
.footer-simples {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 15px;
}

/* ===== BOTÃO WHATSAPP FIXO ===== */

.btn-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 65px;
    height: 65px;
    background-color: #1eae53;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-whatsapp img {
    width: 35px;
    height: 35px;
}

.btn-whatsapp:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    .btn-whatsapp {
        width: 55px;
        height: 55px;
        bottom: 15px;
        right: 15px;
    }

    .btn-whatsapp img {
        width: 28px;
        height: 28px;
    }
}

/* ============================= */
/*          PÁGINA SOBRE         */
/* ============================= */

.sobre {
    margin-top: 60px;
}

.sobre-container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.sobre-texto {
    flex: 1;
}

.sobre-texto h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.sobre-texto p {
    font-size: 24px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 15px;
}

.sobre-imagem {
    flex: 1;
}

.sobre-imagem img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}


/* ============================= */
/*         RESPONSIVO            */
/* ============================= */

@media (max-width: 900px) {

    .sobre-container {
        flex-direction: column;
        text-align: center;
    }

    .sobre-texto h1 {
        font-size: 32px;
    }

}

.equipe {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    text-align: center;
}

.equipe h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.cards-equipe {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card-equipe {
    width: 280px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card-equipe:hover {
    transform: translateY(-5px);
}

.card-equipe img {
    width: 100%;
    border-radius: 10%;
    margin-bottom: 15px;
}

.cargo {
    font-weight: bold;
    color: #0a1a33;
    margin-bottom: 10px;
}

/* ===== BUSCA TOPO ===== */

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* INPUT ESCONDIDO */
.search-container input {
    width: 0;
    opacity: 0;
    padding: 8px 0;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.4s ease;
}

/* QUANDO ESTIVER ATIVO */
.search-container input.active {
    width: 200px;
    opacity: 1;
    padding: 8px 35px 8px 10px;
}

/* BOTÃO */
.btn-search {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
    position: absolute;
    right: 5px;
}

.btn-search:hover {
    color: #007bff;
}


@media (max-width: 768px) {
    #searchInput.active {
        width: 140px;
    }
}
